// LINKS =====================================================
.link
	@extend .text
	color: $sea
	text-decoration: none
	position: relative
	z-index: 1000
	&:hover
		text-decoration: none
		color: $red-light
	&:focus
		outline: none
	&.-black
		color: $black
	&.-gray
		color: $gray
//============================================================/