// LINKS =====================================================
.link
	margin: 0
	padding: 0
	margin-top: 30px

	li
		@extend .text
		list-style-type: none
		margin-bottom: 6px

		&:last-child
			margin-bottom: 0

		a
			position: relative
			font-size: 13px
			line-height: 28px
			letter-spacing: 6px
			color: #474854
			text-decoration: none
			z-index: 1000
			transition: $ease

			&:hover
				text-decoration: none
				color: $white
				box-shadow: 0 0 20px 2px rgba(0,96,249, 1)

			&:focus
				outline: none

//============================================================/