// LISTS =====================================================
.list
	padding-left: 0
	margin: 0
	li
		position: relative
		font-family: $font
		font-size: 16px
		line-height: 24px
		color: $font-color
		list-style-type: none
		&:last-child
			margin-bottom: 0
	&.-gray
		li
			color: $gray
//============================================================/