// TYPOGRAPHY ================================================
.text
	position: relative
	font-family: $font
	color: $font-color
	font-size: 17px
	font-weight: 400
	line-height: 30px
	z-index: 300

	&.-subscription
		font-size: 11px
		line-height: 28px
		color: $gray
		text-transform: uppercase

	&.-minuscule
		font-size: 14px

	&.-mini
		font-size: 15px
		color: $gray

	&.-thesis
		font-size: 20px
		line-height: 24px

	&.-large
		font-size: 22px
		line-height: 28px

	&.--bold
		font-weight: 700

	&.--italic
		font-family: $font-italic

	&.--uprc
		text-transform: uppercase

.title
	font-family: $font
	color: $font-color
	line-height: 28px
	font-weight: 700

	&.-title-promo
		font-size: 38px
		line-height: 50px
		letter-spacing: -2px

	&.-title-item
		font-size: 32px
		letter-spacing: -1px

	&.-title-big
		font-size: 26px

	&.-title-soft
		font-size: 24px
		font-weight: 400

	&.-title-normal
		font-size: 24px

	&.-title-small
		font-size: 20px

	&.-subtitle
		font-size: 18px

	&.--italic
		font-family: $font-italic
//============================================================/