@import "ui"
@import "libs"
@import "layout"



// BASE ======================================================
//============================================================/
body
	min-width: 320px
	position: relative
	background-color: $black
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

b, strong
	font-weight: bold

menu, p
	padding: 0
	margin: 0

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

.nopadding
	padding: 0 !important
	margin: 0 !important
















@import "media" // Always at the end
