@import "ui"
@import "libs"
@import "layout"

// BASE ======================================================
//============================================================/
body
	min-width: 320px
	position: relative
	background-color: $black
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

b, strong
	font-weight: bold

menu, p
	padding: 0
	margin: 0

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

.nopadding
	padding: 0 !important
	margin: 0 !important

#header
	width: 100%
	height: 100vh
	background-image: url("../img/bg-header.png")
	background-repeat: no-repeat
	background-size: cover
	background-position: center

.line-top
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	position: relative
	margin:
		top: 85px
		bottom: 177px

.logo
	display: inline-block

.register
	display: inline-block

	img
		position: absolute
		width: 17px
		height: auto
		bottom: 6px

	a
		margin-left: 33px
		font-weight: 400
		text-decoration: none

.main-list
	ol
		margin: 0
		padding: 0
		li
			@extend .title
			position: relative
			font-size: 14px
			font-weight: 700
			color: #4d4f59
			line-height: 28px
			text-transform: uppercase
			list-style-type: none
			margin-bottom: 5px
			&:last-child
				margin-bottom: 0
			span
				text-decoration: none
				color: $white
				font-weight: 400
				font-size: 14px
				margin-left: 20px

.main-btn
	margin:
		top: 50px
		bottom: 50px
	text-align: center

.social-nav
	position: relative
	top: -65px

	.social-list
		position: absolute
		right: 0
		li
			list-style-type: none
			margin-bottom: 10px
			img
				width: 16px
				height: auto

.scroll-down
	position: relative

	.title.-title-mini
		position: absolute
		transform: rotate(-90deg)
		letter-spacing: 1.6px
		line-height: 100%
		left: -40px

	.floating
		animation: floating 2.5s linear infinite
		@keyframes floating
			0%, 100%
				bottom: 0
			50%
				bottom: -50px


#section-space
	width: 100%
	height: 70vh
	background-image: url("../img/bg-space.png")
	background-repeat: no-repeat
	background-size: cover
	background-position: center

.space
	.title
		max-width: 330px

.space-flex
	display: flex
	flex-wrap: wrap
	justify-content: flex-start


.block-content
	position: relative
	margin:
		top: 110px

	img
		position: absolute
		width: 76px
		height: auto

	.title.-subtitle
		padding-left: 110px
		margin-bottom: 20px

	.text
		padding-left: 110px

.platform-flex, .microfund-flex, .demands-flex
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	margin-top: 140px


.platform, .demands
	position: relative

	img
		position: absolute

	.title.-subtitle
		margin-left: 250px

	.emphasis-left
		margin-left: 250px

.microfund
	position: relative

	img
		position: absolute
		right: 0

	.title.-subtitle
		margin-right: 250px

	.emphasis-right
		margin-right: 250px

.platform-content, .microfund-content, .demands-content
	.text
		margin-bottom: 44px
		&:last-child
			margin-bottom: 0
	.list
		li
			margin-bottom: 20px
			&:last-child
				margin-bottom: 0

.features-btn
	text-align: center
	margin-top: 50px


#section-prefooter
	width: 100%
	height: auto
	background-image: url("../img/bg-roadmap.png")
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	padding-top: 180px

.prefooter-title
	.title
		max-width: 360px
		float: right
		text-align: right
		margin-right: 45px

.prefooter-info
	.text
		max-width: 470px
		margin-left: 45px
		font-size: 19px
		top: 9px
		&::before
			position: absolute
			display: inline-block
			content: ''
			background: url("../img/security-line.png")
			background-repeat: no-repeat
			width: 15px
			height: 190px
			left: -60px
			top: -40px
			z-index: 200

.roadmap-title
	margin:
		top: 210px
		bottom: 90px

.roadmap-btn
	margin:
		top: 110px
		bottom: 100px
	text-align: center

#bottom-menu
	background-color: #05070F
	padding:
		top: 80px
		bottom: 80px

.menu-flex
	display: flex
	width: 100%
	flex-wrap: wrap
	justify-content: space-between


.footer-flex
	display: flex
	width: 100%
	height: auto
	flex-wrap: wrap
	justify-content: space-between
	padding:
		top: 30px
		bottom: 30px

	.logo
		display: inline-block

	.social-network
		display: inline-block
		float: right
		margin: 0
		padding: 0
		li
			list-style-type: none
			display: inline-block
			margin-right: 20px
			img
				width: 16px
				height: auto


@import "media"

// Always at the end
